.editorial-intro-bg{
    background-color: rgb(179, 178, 178);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 380px;
  max-width: 1910px;
}
.imagens-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.imagens-container  img{
height: 800px;
width: 400px;
object-fit: cover;
}

.editorial-intro-text{
place-self: center;
padding: 5px 10px;
background-color: #1b1d1d;  
}

.editorial-intro-text > h1{
    letter-spacing: 0.2ch;
    color: #fff;
}

.editorial-bg{
    display: grid;
    justify-content: center;
}

.txt-editorial{
    position: relative;
    background-color: #FFF8ED;
    display: grid;
    justify-self: center;
    row-gap: 25px;
    padding: 50px 70px 70px 70px;
    max-width: 1000px;
    margin-top: -55px;
    margin-bottom: 90px;
}


.txt-editorial::before{
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("/img/editorial/editorial-txt/ornamento.svg"); 
    position: absolute;
    top: 10px;
    left: 13px;
    rotate: 90deg;
}

.txt-editorial::after{
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("/img/editorial/editorial-txt/ornamento.svg"); 
    position: absolute;
    bottom: 10px;
    left: 13px;
}

.txt-editorial > h2::before{
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("/img/editorial/editorial-txt/ornamento.svg"); 
    position: absolute;
    transform: rotateY(180deg);
    bottom: 10px;
    right: 13px;
}

.txt-editorial > h2::after{
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("/img/editorial/editorial-txt/ornamento.svg"); 
    position: absolute;
    top : 10px;
    right: 13px;
    rotate: 270deg;
    transform: rotateY(180deg);
}


.txt-editorial > h2{
    font-size: 2rem;
}

.txt-editorial > p{
    text-align: justify;
    line-height: 1.8;
    font-family: 'Bodoni Moda', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
