.cinzel-300 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cinzel-400 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-500 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.cinzel-decorative-700 {
    font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}